PORT=3001
NODE_ENV=production
MONGODB_URL=mongodb+srv://tokenpopwt:qwaszxQW12@cluster0.yybr5mo.mongodb.net
JWT_SECRET=eseegormee#text
SMTP_USER=95bd73001@smtp-brevo.com
SMTP_PASS=c962kU1bwDQtYjMR
SENDER_EMAIL=tokenpopmanagement@gmail.com
CLOUDINARY_CLOUD_NAME=dkkp2ladk
CLOUDINARY_API_KEY=821643255135753
CLOUDINARY_API_SECRET=JiSdBCBcgEsfxTD0DbKUzglJFJI
PAYSTACK_SECRET_KEY=sk_test_c2bde1e7297727215aceb5a55ded1c88407cd75d
CORS_ORIGIN=*
